body{
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal; 
    margin:20px 40px 20px 40px; 
}


#left_register {
    position: relative;
    z-index: 99999;
    width: 50%;
    height: 93vh;
    background-color: #6c5dd3;
    float: left;
}


#left_page_registr{
position: absolute;
left: 22%;
bottom:8%;
width: 59%;
margin: auto;
margin-top: 100px;
}

h1{
font-size: 40px;
color: rgb(255, 255, 255);
}


#right_register{
width: 50%;
height: 93vh;
background-color: rgb(23, 97, 209);
float: right;
background-image: url(images/04\ copy.jpg); 
background-size: 100%;
}

#fullName {
font-size:19px;
width: 450px;
height: 40px;
outline: none;
border-radius: 5px;
border-width:0;
}

#email {
font-size:19px;
width: 450px;
height: 40px;
outline: none;
border-radius: 5px;
border-width:0;
}

#passreg{
width: 450px;
height: 40px;
outline: none;
outline: none;
border-radius: 5px;
border-width:0;
}

#confirmPass {
width: 450px;
height: 40px;
outline: none;
outline: none;
border-radius: 5px;
border-width:0;
}

#register {
width: 450px;
height: 42px;
font-size: 22px;
background-color: #FFCE73;
border: none;
border-radius: 5px;
border-width:0;
}

#register:hover {
    background-color:#F2B66D ;
    color: aliceblue;
    cursor:pointer
}



#error{
    padding: 5px;
    left: 100px;
    position: absolute;
    width: 250px;
    top: 655px;
    background-color: #fdccc7f6;
    font-weight: 500;
    border-radius: 5px;
    color: #ff3e28;
}


#eroorpass {

    padding: 5px;
    left: 82px;
    position: absolute;
    width: 275px;
    top: 560px;
    background-color: #fdccc7f6;
    font-weight: 500;
    border-radius: 5px;
    color: #ff3e28;
}




#error_email{
    padding: 5px;
    left: 82px;
    position: absolute;
    width: 275px;
    top: 354px;
    background-color: #fdccc7f6;
    font-weight: 500;
    border-radius: 5px;
    color: #ff3e28

}


#fname_error{
    padding: 5px;
    left: 82px;
    position: absolute;
    width: 170px;
    top: 235px;
    background-color: #fdccc7f6;
    font-weight: 500;
    border-radius: 5px;
    color: #ff3e28

}