

body {
    font-family: "Poppins", serif;
    font-weight: bolder;
    font-style: normal; 
    margin:20px 40px 20px 40px; 
}
*{
    margin: 0;
}

.left_page{
position: relative;
z-index: 99999;
width: 50%;
height: 93vh;  /*use vh */
background-color: #6c5dd3;
float: left;
background-size: 150%;
background-blend-mode: color-burn;

}
#left_page_content {
    position: absolute;
    left: 22%;
    bottom:13%;
    width: 59%;
    margin: auto;

    margin-top: 20px;
    
}

.right_page{
width: 50%;
height: 93vh;
background-color: rgb(23, 97, 209);
float: right;
background-image: url(images/ilgmyzin-CbxZV0kebOA-unsplash.jpg); 
background-size: 100%;
}
    

#mail{
    font-size:19px;
    width: 450px;
    height: 50px;
    outline: none;
}

#pass{
font-size:19px;
width: 450px;
height: 50px;
outline: none;
}
    
#log_in{

width: 450px;
height: 52px;
font-size: 22px;
background-color: #FFCE73;
border: none;
}

#log_in:hover {
    background-color:#F2B66D ;
    color: aliceblue;
    cursor:pointer
}

label {
font-weight:bold;

}

button {

    width: 100px;
    height: 30px;
}

.clear {

    clear: both;
}

/* #mailmsg_error {
    position: absolute;
    -webkit-text-fill-color: rgb(230, 39, 39);
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
    letter-spacing: 0.9px;

    top: 235px;
    background-color: #fdccc7f6; 
    font-weight: 900;
    border-radius: 5px;
    font-size:19px ;

 }  */

#mailmsg_error {
    position: absolute;
    top: 285px;
    background-color: #fdccc7f6; 
    font-weight: 500;
    border-radius: 5px;
    color: #ff3e28; 
}



#password_error{
    position: absolute;
    top: 440px;
    background-color: #fdccc7f6;
    font-weight: 500;
    border-radius: 5px;
    color: #ff3e28;
}


#submition_error{
    height: 32px;
    position: absolute;
    top: 564px;
    color: #ff3e28;
    font-weight: 500;
    background-color: #fdccc7f6;
    border-radius: 5px;
    
 }


form label {
    color: aliceblue;
margin-bottom: 140px;
margin-bottom: 100px;}

#heading {
margin: 50px;
font-size: 60px;
color: white;
position: absolute;
z-index: 10000;
}