:root {
  --header-bg-color: #6c5dd3;
  --highlight-color: #ffa2c0;
  --text-color: white;
  --font-weight-bold: 600;
  --font-size: 16px;
  --logo-size: 80px;
}

/* Header Styling */
#header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  height: var(--logo-size);
  background-color: var(--header-bg-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

/* Logo and Welcome Message */
#logo-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo {
  width: var(--logo-size);
  height: var(--logo-size);
  object-fit: contain;
}

#welcome-message {
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
  color: var(--text-color);
}

/* Navbar Styling */
#navbar {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
}

#navbar li a {
  text-decoration: none;
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
  color: var(--text-color);
  position: relative;
  transition: color 0.3s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active {
  color: var(--highlight-color);
}

/* Underline Effect */
#navbar li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--highlight-color);
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  width: 50%;
}

/* ! body styling  */
body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f1ef;
  color: #332f2c;
  line-height: 1.6;
}

/* * Cateogry styling */
#main {
  background-color: white;
  /* color: purple; */
  padding: 20px;
  border-radius: 8px;
}
#main h1 {
  color: #0049c6;
}
#main button {
  background-color: #e5f1ff;
  color: #0049c6;
  border: 1px solid #0049c6;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.3s;
}
#main button:hover {
  background-color: #0049c6;
  color: white;
}
#add_category {
  background-color: #0049c6 !important;
  color: white !important;
}
#main table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
#main th,
#main td {
  border: 1px solid white;
  padding: 8px;
}

#main th {
  /* text-align: left; */
  background-color: #6c5dd3;
  color: white;
}
.head {
  text-align: center;
}

.update-button {
  text-align: center;
}
.delete-button {
  text-align: center;
}
